b.cBold
{
  font-weight: bold
}
code.cCode
{
  font-family: Courier New, Courier, mono
}
em.cEmphasis
{
  font-style: italic
}
span.cIgnore
{
  color: White
}
sub.cSubscript
{
  vertical-align: sub
}
sup.cSuperscript
{
  vertical-align: super
}
u.cUnderline
{
  text-decoration: underline
}

p.pBody
{
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-indent: 0em
}
div.pCellBodyC
{
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: center;
  text-indent: 0em
}
div.pCellBodyL
{
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-indent: 0em
}
div.pCellBodyR
{
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: right;
  text-indent: 0em
}
div.pCellHeadC
{
  font-weight: bold;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: center;
  text-indent: 0em
}
div.pCellHeadL
{
  font-weight: bold;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-indent: 0em
}
div.pCellHeadR
{
  font-weight: bold;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: right;
  text-indent: 0em
}
p.pChapter
{
  font-weight: bold;
  margin-left: 0em;
  margin-right: 0em;
  text-align: center;
  text-indent: 0em;
  text-transform: uppercase
}
p.pChapterTOC
{
  font-weight: bold;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-indent: 0em;
  text-transform: uppercase
}
p.pCode
{
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-indent: 0em
}
p.pDropDownClosed
{
  font-weight: bold;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-indent: 0em
}
p.pDropDownOpen
{
  font-weight: bold;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-indent: 0em
}
div.pFigureSubSubTitle
{
  font-size: smaller;
  margin-left: 0em;
  margin-right: 0em;
  text-align: center;
  text-indent: 0em
}
div.pFigureSubTitle
{
  font-size: smaller;
  margin-left: 0em;
  margin-right: 0em;
  text-align: center;
  text-indent: 0em
}
div.pFigureTitle
{
  font-weight: bold;
  margin-left: 0em;
  margin-right: 0em;
  text-align: center;
  text-indent: 0em
}
p.pFigureTitleLOF
{
  font-weight: bold;
  margin-bottom: 1em;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-indent: 0em
}
p.pFootnote
{
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-indent: 0em
}
h3.pHeader
{
  font-weight: bold;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-indent: 0em;
  text-transform: uppercase
}
h2.pHeading1
{
  font-weight: bold;
  margin-left: 0em;
  margin-right: 0em;
  text-align: center;
  text-indent: 0em;
  text-transform: uppercase
}
h2.pHeading2
{
  font-style: italic;
  font-weight: bold;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-indent: 0em;
  text-transform: uppercase
}
h3.pHeading3
{
  color: #003366;
  font-size: 20px;
  font-weight: bold;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-indent: 0em
}
h4.pHeading4
{
  color: #003366;
  font-size: 18px;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-indent: 0em
}
h5.pHeading5
{
  color: #003366;
  font-size: 14px;
  font-weight: bold;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-indent: 0em
}
h6.pHeading6
{
  color: #003366;
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-indent: 0em
}
p.pIndented1
{
  margin-left: 2.5em;
  margin-right: 0em;
  text-align: left;
  text-indent: 0em
}
p.pIndented2
{
  margin-left: 5em;
  margin-right: 0em;
  text-align: left;
  text-indent: 0em
}
p.pIndented3
{
  margin-left: 7.5em;
  margin-right: 0em;
  text-align: left;
  text-indent: 0em
}
p.pIndented4
{
  margin-left: 10em;
  margin-right: 0em;
  text-align: left;
  text-indent: 0em
}
p.pIndented5
{
  margin-left: 12.5em;
  margin-right: 0em;
  text-align: left;
  text-indent: 0em
}
p.pIndentedRelative
{
  margin-left: 2.5em;
  margin-right: 0em;
  text-align: left;
  text-indent: 0em
}
p.pIXGroupNavigation
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pIXGroupTitle
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 8px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pIXHeadingLink
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pIXLevel1
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 8px;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 8px;
  text-transform: none
}
p.pIXLevel2
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 16px;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 16px;
  text-transform: none
}
p.pIXLevel3
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 24px;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 24px;
  text-transform: none
}
p.pIXLevel4
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 32px;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 32px;
  text-transform: none
}
p.pIXLevel5
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 40px;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 40px;
  text-transform: none
}
h2.pIXTitle
{
  color: #003366;
  font-size: 25px;
  font-weight: bold;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-indent: 0em
}
p.pNumbered
{
  margin-left: 2.5em;
  margin-right: 0em;
  text-align: left;
  text-indent: 0em
}
p.pNumbered1
{
  margin-left: 2.5em;
  margin-right: 0em;
  text-align: left;
  text-indent: 0em
}
p.pNumbered1Sub
{
  margin-left: 5em;
  margin-right: 0em;
  text-align: left;
  text-indent: 0em
}
p.pNumberedSub
{
  margin-left: 5em;
  margin-right: 0em;
  text-align: left;
  text-indent: 0em
}
div.pPreformatted
{
  font-family: Courier New, Courier, mono;
  font-size: 13px;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-indent: 0em
}
div.pPreformattedRelative
{
  font-family: Courier New, Courier, mono;
  font-size: 13px;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-indent: 0em
}
blockquote.pQuotation
{
  margin-left: 2.5em;
  margin-right: 0em;
  text-align: left;
  text-indent: 0em
}
div.pRelatedTopic
{
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-indent: 0em
}
div.pRelatedTopicOnly
{
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-indent: 0em
}
h2.pRelatedTopicTitle
{
  color: #003366;
  font-size: 20px;
  font-weight: bold;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-indent: 0em
}
p.pSection
{
  font-style: italic;
  font-weight: bold;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-indent: 0em;
  text-transform: uppercase
}
p.pSectionFootnotes
{
  font-weight: bold;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-indent: 0em
}
p.pSectionTOC
{
  margin-left: 3em;
  margin-right: 0em;
  text-align: left;
  text-indent: 0em
}
div.pSeeAlso
{
  color: Black;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-indent: 0em
}
h2.pSeeAlsoTitle
{
  color: #003366;
  font-size: 20px;
  font-weight: bold;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-indent: 0em
}
div.pSeeAlsoTopic
{
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-indent: 0em
}
div.pSmartList1
{
  margin-bottom: 6pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 6pt;
  text-align: left;
  text-indent: 0em
}
div.pSmartList2
{
  margin-bottom: 6pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 6pt;
  text-align: left;
  text-indent: 0em
}
div.pSmartList3
{
  margin-bottom: 6pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 6pt;
  text-align: left;
  text-indent: 0em
}
div.pSmartList4
{
  margin-bottom: 6pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 6pt;
  text-align: left;
  text-indent: 0em
}
div.pSmartList5
{
  margin-bottom: 6pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 6pt;
  text-align: left;
  text-indent: 0em
}
p.pSubSection
{
  font-style: italic;
  font-weight: bold;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-indent: 0em
}
p.pSubSectionTOC
{
  margin-left: 6em;
  margin-right: 0em;
  text-align: left;
  text-indent: 0em
}
p.pSubSubSection
{
  font-weight: bold;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-indent: 0em
}
p.pSubSubSectionTOC
{
  margin-left: 9em;
  margin-right: 0em;
  text-align: left;
  text-indent: 0em
}
p.pTableFootnote
{
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-indent: 0em
}
p.pTableNote
{
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-indent: 0em
}
div.pTableSubTitle
{
  font-size: smaller;
  margin-left: 0em;
  margin-right: 0em;
  text-align: center;
  text-indent: 0em
}
div.pTableTitle
{
  font-weight: bold;
  margin-left: 0em;
  margin-right: 0em;
  text-align: center;
  text-indent: 0em
}
p.pTableTitleLOT
{
  font-weight: bold;
  margin-bottom: 1em;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-indent: 0em
}
h3.pTitle
{
  font-weight: bold;
  margin-left: 0em;
  margin-right: 0em;
  text-align: center;
  text-indent: 0em;
  text-transform: uppercase
}
p.pTOC1
{
  font-weight: bold;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0em;
  margin-top: 0px;
  text-align: left;
  text-indent: 0px
}
p.pTOC2
{
  margin-bottom: 0px;
  margin-left: 8px;
  margin-right: 0em;
  margin-top: 0px;
  text-align: left;
  text-indent: 8px
}
p.pTOC3
{
  color: #003366;
  margin-bottom: 0px;
  margin-left: 16px;
  margin-right: 0em;
  margin-top: 0px;
  text-align: left;
  text-indent: 16px
}
p.pTOC4
{
  color: #003366;
  margin-bottom: 0px;
  margin-left: 24px;
  margin-right: 0em;
  margin-top: 0px;
  text-align: left;
  text-indent: 24px
}
p.pTOC5
{
  color: #003366;
  margin-bottom: 0px;
  margin-left: 32px;
  margin-right: 0em;
  margin-top: 0px;
  text-align: left;
  text-indent: 32px
}
h2.pTOCTitle
{
  font-weight: bold;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-indent: 0em
}

